<main class="container">
  <h2>Hola, {{persona.nombre}} {{persona.apellido}}</h2>
  <ul>
  <li>{{persona | json }}</li>
  <li><a href="https://angular.io/api/common/JsonPipe" target="_blank">JsonPipe</a></li>
  <li>{{persona.fecnac | date:'d/M/yyyy' }}</li>
  <li>{{persona.fecnac | date:'d/M/yy - hh:mm:ss' }}</li>
  <li>{{persona.fecnac | date:'yyyy/MM/dd' }}</li>
  <li>{{persona.fecnac | date }}</li>
  <li><a href="https://angular.io/api/common/DatePipe" target="_blank">DatePipe</a></li>
  
  <li *ngFor="let fecha of fechas"> 
    {{ fecha | date:'fullDate' }}</li>
  </ul>
 
</main>

<router-outlet></router-outlet>
